.search {
  position: relative;
}
.search-container {
  position: relative;
}
.search-control {
  padding: 10px;
  font-size: 20px;
  outline: none;
  width: 280px;
  border: 1px solid #e1e1e1;
  border-radius: 40px;
  transition: width 600ms ease;
}
.search-control:focus {
  border: 2px solid #e5d1fa;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}
.search-btn {
  position: absolute;
  right: 10px;
  color: #000;
  line-height: normal;
  width: 25px;
  height: 100%;
  border: none;
  background: transparent;
}
.dropdown {
  margin-top: 2px;
  padding: 10px 20px;
  position: absolute;
  background-color: rgba(229, 209, 250, 0.7) ;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  width: 280px;
  border-radius: 20px;
}
.dropdown:empty {
  border: none;
  padding: 0;
}
.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 5px 0;
}
